<%- include('./base/header.ejs') %>
<div class="container">
  <h1 class="text-center">Details</h1>
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>Roll No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Aadhar Card No</th>
            <th>Mobile No</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
          <% if (user.usertype === 2) { %>  
            <tr>
                <td><%= user.rollno %></td>
                <td><%= user.firstName %></td>
                <td><%= user.lastName %></td>
                <td><%= user.email %></td>
                <td><%= user.aadharCardNo %></td>
                <td><%= user.mobileNo %></td>
            </tr>
          <% } %>
        <% }) %>
    </tbody>
  </table>
</div>
    
<%- include('./base/footer.ejs') %>
